* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

input:focus {
	outline: 0;
}

#board {
	width: 95%;
	display: table;
	margin: auto;
}

#board .col {
	display: table-cell;
}

#board h4 {
	margin: 5px;
	text-align: center;
	text-transform: uppercase;
	padding: 5px;
	background-color: #fff;
}

nav ul,
nav ul li,
#board ul,
#board ul li,
.people-list li,
.people-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.state_box {
	width: 12.5%;
	border: solid #fff;
	border-width: 0 5px;
}

.state_box.highlighted li {
	opacity: 0.5;
}

.state_box.highlighted li.highlight {
	opacity: 1;
}

.col_0 {
	background-color: #EFEBE8;
}

.col_1 {
	background-color: #ECE1DA;
}

.col_2 {
	background-color: #E9D7CD;
}

.col_3 {
	background-color: #E6CDBF;
}

.col_4 {
	background-color: #E3C3B2;
}

.col_5 {
	background-color: #E0B9A4;
}

.col_6 {
	background-color: #DDAF97;
}

.col_7 {
	background-color: #DAA589;
}

.box {
	border: 1px solid black;
	border-top-width: 10px;
	margin: 10px;
	background-color: #fff;
	min-height: 32px;
	padding: 10px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.color_0 {
	border-color: #FF9900;
	border-top-color: #C07300;
}

.color_1 {
	border-color: #87CEEB;
	border-top-color: #669BB1;
}

.color_2 {
	border-color: #00FFA1;
	border-top-color: #00C079;
}

.color_3 {
	border-color: #FFA400;
	border-top-color: #C07C00;
}

.highlight .box {
	box-shadow: 0 0 3px 3px #FFC;
	background-color: #FFC;
	opacity: 1;
}

.box .editBox {
	width: 95%;
	display: block;
	margin: 0 auto 10px;
}

.placeholder div {
	background-color: white;
	border: dashed 1px gray;
	margin: 5px;
}

.editBox {
	background-color: white;
	border: 2px solid #E8F3FF;
	padding: 10px 15px;
	height: 35px;
}

.clear {
	clear: both;
}

.people-list li {
	display: inline-block;
	margin-right: 10px;
}

.people-list * {
	margin: 0;
}

.people-list input[type=checkbox],
.people-list input[type=radio] {
	margin: 4px 0 0;
	vertical-align: top;
}

.navigation {
	margin: auto;
	width: 95%;
	padding: 0 5px;
}

.navigation ul {}

header {
	padding: 5px;
	background: #333;
	border-bottom: 1px solid #666;
	overflow: hidden;
	color: #fff;
}

header * {
	font-weight: 300;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1.5;
	width: 95%;
	margin: 10px auto 0;
	padding: 5px;
	font-size: 1.35em;
}

header a,
header a:visited,
header a:active,
header a:focus,
header a:hover {
	color: inherit;
	text-decoration: none;
}

header h1 {
	font-size: 1.2em;
	margin: 0;
	line-height: 1.5;
	float: left;
	font-weight: normal;
	margin-left: 5px;
}

header nav {
	float: right;
	margin-top: 2px;
	margin-right: 10px;
}

header nav ul li {
	float: left;
	margin-left: 15px;
}

header nav ul li .glyphicon {
	line-height: 1.4;
	vertical-align: top;
	margin-right: 3px;
}

.hide {
	display: none;
}

.modal li {
	line-height: 1.8em;
}
